<section>
    <h1><span>Opciones de equipo</span></h1>
    <br />
    <div class="container">
        <div class="row">
            <!--View players-->
            <div class="col-sm-4 col-md-4" style="height:350px;">
                <a class="info-thumbnail-link" href="#/equipos/{{ selectedTeamId }}/jugadores">
                    <div class="thumbnail info-thumbnail background-clouds color-text">
                        <img src="/images/site/player.png" alt="ImagenJugador" class="catIcon">
                        <div class="special background-emerald color-white"><h3>Jugadores</h3></div>
                        <div class="caption bordered background-white" style="height:50px;">
                            <p class="description">Da click aquí para administrar jugadores</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--Edit team-->
            <div class="col-sm-4 col-md-4" style="height:350px;">
                <a class="info-thumbnail-link" href="#/equipos/{{ selectedTeamId }}/editar">
                    <div class="thumbnail info-thumbnail background-clouds color-text">
                        <img src="/images/site/edit.png" alt="ImagenEditar" class="catIcon">
                        <div class="special background-peter-river color-white"><h3>Editar</h3></div>
                        <div class="caption bordered background-white" style="height:50px;">
                            <p class="description">Da click aquí para editar el equipo</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--Delete tournament-->
            <div class="col-sm-4 col-md-4" style="height:350px;">
                <a class="info-thumbnail-link" ng-click="deleteTeam()">
                    <div class="thumbnail info-thumbnail background-clouds color-text">
                        <img src="/images/site/delete.png" alt="ImagenBorrar" class="catIcon">
                        <div class="special background-carrot color-white"><h3>Borrar</h3></div>
                        <div class="caption bordered background-white" style="height:50px;">
                            <p class="description">Da click aquí para borrar el equipo</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
